<h1>Listing APIs</h1>

<h2>
  <%= link_to 'New', new_tracker_path %>
</h2>

<table>
  <tr>
    <th>API Name</th>
    <th>URL</th>
    <th>Notes</th>
  </tr>

  <% @trackers.each do |t| %>
    <tr>
      <td><%= t.api_name %></td>
      <td><%= t.url %></td>
      <td><%= t.notes %></td>
      <td><%= link_to 'Show', tracker_path(t) %></td>
      <td><%= link_to 'Edit', edit_tracker_path(t) %></td>
      <td><%= link_to 'Delete', tacker_path(t),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
