<p>
  <strong>Title:</strong>
  <%= @tracker.api_name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @tracker.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @tracker.notes %>
</p>

<h2>Check Website</h2>
<%= form_for([@tracker, @tracker.checkers.build]) do |f| %>
  <p>
    <%= f.label :date %><br />
    <%= f.text_area :check_body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', trackers_path %>
